Net-Search/Net.Spider/Service References/ServiceReference/api.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://davewang.beijing.objectiva.local/t1/api.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Net.Models" />
  <xs:element name="CreateSitePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Net.Models" minOccurs="0" name="value" nillable="true" type="q1:SitePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSitePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSitePageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSiteInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSiteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Net.Models" minOccurs="0" name="SelectAllSiteInfoResult" nillable="true" type="q2:ArrayOfSiteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSitePage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSitePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Net.Models" minOccurs="0" name="SelectAllSitePageResult" nillable="true" type="q3:ArrayOfSitePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>