Net-Search/Net.Spider/Service References/ServiceReference/api2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Net.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Net.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SitePage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerifiedSiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SitePage" nillable="true" type="tns:SitePage" />
  <xs:complexType name="ArrayOfSiteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteInfo" nillable="true" type="tns:SiteInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteInfo" nillable="true" type="tns:ArrayOfSiteInfo" />
  <xs:complexType name="SiteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alexa" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsGuard" type="xs:boolean" />
      <xs:element minOccurs="0" name="Linked" type="xs:int" />
      <xs:element minOccurs="0" name="LinkedReversed" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PR" type="xs:int" />
      <xs:element minOccurs="0" name="RankBaidu" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteInfo" nillable="true" type="tns:SiteInfo" />
  <xs:complexType name="ArrayOfSitePage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SitePage" nillable="true" type="tns:SitePage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSitePage" nillable="true" type="tns:ArrayOfSitePage" />
</xs:schema>