Net-Search/Net.Spider/Service References/ServiceReference/Manager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Manager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://davewang.beijing.objectiva.local/t1/api.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://davewang.beijing.objectiva.local/t1/api.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://davewang.beijing.objectiva.local/t1/api.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Net.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManager_CreateSitePage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSitePage" />
  </wsdl:message>
  <wsdl:message name="IManager_CreateSitePage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSitePageResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_SelectAllSiteInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllSiteInfo" />
  </wsdl:message>
  <wsdl:message name="IManager_SelectAllSiteInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllSiteInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_SelectAllSitePage_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllSitePage" />
  </wsdl:message>
  <wsdl:message name="IManager_SelectAllSitePage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllSitePageResponse" />
  </wsdl:message>
  <wsdl:portType name="IManager">
    <wsdl:operation name="CreateSitePage">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/CreateSitePage" message="tns:IManager_CreateSitePage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/CreateSitePageResponse" message="tns:IManager_CreateSitePage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllSiteInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/SelectAllSiteInfo" message="tns:IManager_SelectAllSiteInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/SelectAllSiteInfoResponse" message="tns:IManager_SelectAllSiteInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllSitePage">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/SelectAllSitePage" message="tns:IManager_SelectAllSitePage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/SelectAllSitePageResponse" message="tns:IManager_SelectAllSitePage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttp" type="tns:IManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSitePage">
      <soap:operation soapAction="http://tempuri.org/IManager/CreateSitePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllSiteInfo">
      <soap:operation soapAction="http://tempuri.org/IManager/SelectAllSiteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllSitePage">
      <soap:operation soapAction="http://tempuri.org/IManager/SelectAllSitePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Manager">
    <wsdl:port name="basicHttp" binding="tns:basicHttp">
      <soap:address location="http://davewang.beijing.objectiva.local/t1/api.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>